<div class="field-container">
    <div *ngFor="let row of [0,1,2,3,4,5]; let i = index" class="row row{{i}}">
        <div *ngFor="let point of [0,1,2,3,4,5,6]; let j = index" class="point point{{j}}">
            <img class="point-img" src="assets/counter-red-large.svg" alt="">
        </div>
    </div>
</div>
<img class="layer black-layer" src="assets/board-layer-black-large.svg" alt="black-layer">
<img class="layer white-layer" src="assets/board-layer-white-large.svg" alt="white-layer">
<div class="timer">
    <img src="assets/turn-background-red.svg" alt="timer">
    <div class="timer-wrapper">
        <h3 class="heading-xs">YOUR TURN</h3>
        <h4 class="heading-l">44s</h4>
    </div>

</div>
